body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: white;
}
.bgimg {
  background-image: url("../../img/bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0 0 0;
  background-size: 100% auto;
}
.pad {
  padding-top: 100px;
  padding-bottom: 70px;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.bg-grey {
  background-color: grey;
}

.flags-group, .theme-flags-group{
  display:inline-flex !important;
}
.flags {
  display: block;
  margin: 5px;
  padding: 10px;
  width: 48px;
  height: 32px;
  background: url("../../img/flags.png");
  box-shadow: 2px 2px 5px #403f3f;
}
.small-flags {
  display: block;
  margin: 5px;
  padding: 10px;
  width: 33px;
  height: 22px;
  background: url("../../img/flags.png");
  background-size: 350px 210px;
  box-shadow: 1px 1px 3px #403f3f;
}
.theme-flags {
  display: block;
  margin: 5px;
  padding: 10px;
  width: 33px;
  height: 22px;
  box-shadow: 1px 1px 3px #403f3f;
}
.flags-group > a >span:hover, .theme-flags-group >a >span:hover{
  box-shadow: 3px 3px 5px #301f1f;
}
.green-theme{
  background-color: green;
}
.dark-theme{
  background-color: #002e02;
}
.iceland-flag {
  background-position: -1px -1px;
}
.china-flag {
  background-position: -151px -172px;
}
.us-flag {
  background-position: -351px -87px;
}

.iceland-flag-small {
  background-position: -1px -1px;
}
.china-flag-small {
  background-position: -106px -121px;
}
.us-flag-small {
  background-position: -246px -61px;
}
.franch-flag-small {
  background-position: -281px -31px;
}
